<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DropBoxAPI</key>
    <dict>
      <key>AppKey</key>
      <string>YOUR APP KEY HERE</string>
      <key>AppSecret</key>
      <string>YOUR APP SECRET HERE</string>
    </dict>
  </dict>
</plist>